// main: style.scss
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-color: white;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 14px;
  padding: 30px 0;

  .credits {
    color: #888;
    font-size: 13px;
  }

  .footer-links {
    a {
      &:not(:first-child) {
        padding-left: 15px;
      }

      &:first-child {
        padding-left: 0;
      }

      &:not(:hover) {
        color: #666;
      }

      &:hover {
        color: $accent-color;
      }
    }
  }
}
