// main: style.scss
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #333;
  font-size: 14px;

  .copyright {
  }

  .credits {
    font-size: 13px;
    color: #888;
  }

  .footer-links {
    a {
      color: #666;
      padding-left: 15px;
      &:first-child {
        padding-left: 0;
      }
      &:hover {
        color: $accent-color;
      }
    }
  }
}
