// main: style.scss
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  top: 0; left: 0; right: 0;

  height: 92px;
  padding: 30px 0;
  position: fixed;
  transition: all 0.5s;
  z-index: 997;

  #logo {
    float: left;

    h1 {
      padding: 0;

      display: inline-block;
      font-family: $accent-font;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 3px;
      text-transform: uppercase;

      @media (min-width: 769px) {
        font-size: 36px;
        margin-top: -4px;
      }

      @media (max-width: 768px) {
        font-size: 28px;
      }
    }

    h1 a, h1 a:hover {
      color: white;
    }

    img {
      margin: 0; padding: 0;

      @media (max-width: 768px) {
        max-height: 40px;
      }
    }
  }

  &.header-fixed  {
    background-image: linear-gradient(45deg, #1de099, #1dc8cd);
    height: 72px;
    padding: 20px 0;
    transition: all 0.5s;
  }

}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%; height: 100vh;

  background: linear-gradient(45deg, rgba(29, 224, 153, 0.8), rgba(29, 200, 205, 0.8)), url('../img/intro-bg.jpg') center top no-repeat;
  background-size: cover;
  position: relative;

  @media (min-width: 1024px) {
    background-attachment: fixed;
  }

  .intro-text {
    top: 60px; left: 0; right: 0;

    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(50% - 60px);
    justify-content: center;
    position: absolute;
    text-align: center;
  }

  h2 {
    margin: 30px 0 10px 0; padding: 0 15px;

    color: white;
    font-weight: 400;

    @media (min-width: 769px) {
      font-size: 48px;
      line-height: 56px;
    }

    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 36px;
    }
  }

  p {
    margin-bottom: 20px; padding: 0 15px;

    color: white;
    font-size: 24px;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }

  .btn-get-started {
    margin: 10px; padding: 8px 28px;

    border: 2px solid white;
    border-radius: 50px;
    display: inline-block;
    font-family: $heading-font;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: 0.5s;

    &:not(:hover) {
      color: white;
    }

    &:hover {
      background-color: white;
      color: $accent-color;
    }
  }

  .product-screens {
    width: 100%; height: 50%;
    bottom: 0; right: 0; left: 0;

    overflow: hidden;
    position: absolute;
    text-align: center;

    img {
      box-shadow: 0px -2px 19px 4px rgba(0,0,0,0.29);
    }

    .product-screen-1 {
      top: 30px; left: calc(50% + 54px); bottom: 0;
      z-index: 30;

      @media (min-width: 768px) {
        position: absolute;
      }

      @media (max-width: 767px) {
        padding-top: 30px;
        position: static;
      }
    }

    .product-screen-2 {
      top: 90px; left: calc(50% - 154px); bottom: 0;

      position: absolute;
      z-index: 20;
    }

    .product-screen-3 {
      top: 150px; left: calc(50% - 374px); bottom: 0;

      position: absolute;
      z-index: 10;
    }

    @media (max-width: 767px) {
      .product-screen-2,
      .product-screen-3 {
        display: none;
      }
    }
  }
}
