// main: style.scss
/// Default color variables

$accent-color: #1dc8cd;
$heading-color: #333;
$text-color: #666;

/// Fonts Variables
$accent-font: "Montserrat", sans-serif;
$heading-font: "Montserrat", sans-serif;
$text-font: "Open Sans", sans-serif;
