// main: style.scss
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/
.section-header {
  .section-title {
    color: #111;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
  }

  .section-description {
    color: #777;
    font-style: italic;
    padding-bottom: 40px;
    text-align: center;
  }

  .section-divider {
    width: 60px; height: 3px;

    background-image: linear-gradient(0deg, $accent-color 0%, #55fabe 100%);
    display: block;
    margin: 0 auto 20px;
  }
}

/* Section with background
--------------------------------*/
.section-bg {
  background-color: #eff5f5;
}

/* About Us Section
--------------------------------*/
#about {
  overflow: hidden;
  padding: 60px 0;

  .about-img  {
    overflow: hidden;

    img {
      max-width: 100%;
    }

    @media (min-width: 769px) {
      height: 510px;

      img {
        margin-left: -15px;
      }
    }

    @media (max-width: 768px) {
      height: auto;

      img {
        margin-left: 0; padding-bottom: 30px;
      }
    }
  }

  .content {
    .h2 {
      color: #333;
      font-size: 24px;
      font-weight: 300;
    }

    h3 {
      color: #777;
      font-size: 18px;
      font-style: italic;
      font-weight: 300;
      line-height: 26px;
    }

    p {
      line-height: 26px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    i {
      color: $accent-color;
      font-size: 20px;
      padding-right: 4px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding-bottom: 10px;
      }
    }
  }
}

/* Product Featuress Section
--------------------------------*/
#features {
  background-color: white;
  overflow: hidden;
  padding: 60px 0 0 0;

  .features-img {
    padding-top: 20px;
    text-align: center;

    @media (min-width: 769px) {
      margin-top: -200px; padding-top: 120px;
    }

    img {
      max-width: 100%;
    }
  }

  .box {
    margin-bottom: 15px;
    text-align: center;
  }

  .icon {
    margin-bottom: 10px;

    i {
      color: $text-color;
      font-size: 40px;
      transition: 0.5s;

      &::before {
        background-clip: border-box;
        background-image: linear-gradient(45deg, $accent-color 0%, #55fabe 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .title {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 15px;

    a {
      color: #111;
    }

  }

  .description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .section-description {
    padding-bottom: 10px;
  }
}

/* Product Advanced Featuress Section
--------------------------------*/

#advanced-features {
  overflow: hidden;

  .features-row {
    padding: 60px 0 30px 0;
  }

  h2 {
    color: black;
    font-size: 26px;
    font-weight: 700;
  }

  h3 {
    color: #999;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
  }

  p {
    color: #777;
    line-height: 24px;
    margin-bottom: 30px;
  }

  i {
    color: $text-color;
    float: left;
    font-size: 64px;
    line-height: 1;
    padding: 0 15px 0px 0;
    transition: 0.5s;

    &::before {
      background-clip: border-box;
      background-image: linear-gradient(45deg, $accent-color 0%, #55fabe 100%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }


  .advanced-feature-img-right {
    float: right;
    padding: 0 0 30px 30px;
  }

  .advanced-feature-img-left {
    float: left;
    padding: 0 30px 30px 0;
  }

  .advanced-feature-img-right,
  .advanced-feature-img-left {
    @media (min-width: 769px) {
      max-width: 100%;
    }

    @media (max-width: 768px) {
      max-width: 50%;
    }

    /*
    // This is confusing. Why is this here with the other sized styles?
    @media (max-width: 767px) {
      max-width: 100%;
      float: none;
      padding: 0 0 30px 0;
    }
    */
  }
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: linear-gradient(rgba(#1dc8cd, 0.65), rgba(#1dcd59, 0.2)), url(../img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
  overflow: hidden;
  padding:  80px 0;

  .cta-title {
    color: white;
    font-size: 28px;
    font-weight: 700;
  }

  .cta-text {
    color: white;
  }

  .cta-btn-container {
    @media (min-width: 769px) {
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }
  }

  .cta-btn {
    margin: 10px; padding: 8px 30px;

    border-radius: 25px;
    color: white;
    display: inline-block;
    font-family: $heading-font;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: background 0.5s;

    &:not(:hover) {
      border: 2px solid white;
    }

    &:hover {
      background-color: $accent-color;
      border: 2px solid $accent-color;
    }
  }
}

/* More Features Section
--------------------------------*/
#more-features {
  overflow: hidden;
  padding: 60px 0 60px 0;

  .box {
    background-color: white;
    box-shadow: 0 0 30px rgba(73, 78, 92, 0.15);
    padding: 40px;
    transition: 0.4s;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  .icon {
    @media (min-width: 768px) {
      float: left;
    }

    @media (max-width: 767px) {
      padding-bottom: 15px;
      text-align: center;
    }

    i {
      color: $text-color;
      font-size: 80px;
      line-height: 0;
      transition: 0.5s;

      &::before {
        background-clip: border-box;
        background-image: linear-gradient(45deg, $accent-color 0%, #55fabe 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  h4, p {
    @media (min-width: 768px) {
      margin-left: 100px;
    }

    @media (max-width: 767px) {
      margin-left: 0;
      text-align: center;
    }
  }

  h4 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;

    a {
      color: #111;
    }
  }

  p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
  }
}

/* Clients Section
--------------------------------*/
#clients {
  background-color: white;
  overflow: hidden;
  padding: 30px 0;

  img {
    max-width: 100%;
    padding: 15px 0;
    transition: 0.3s;

    &:not(:hover) {
      opacity: 0.5;
    }

    &:hover {
      opacity: 1;
    }
  }
}

/* Pricing Section
--------------------------------*/
#pricing {
  overflow: hidden;
  padding: 60px 0 60px 0;

  .box {
    margin-bottom: 30px; padding: 40px;

    background-color: white;
    box-shadow: 0 0 30px rgba(73, 78, 92, 0.15);
    text-align: center;
  }

  h3 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  h4 {
    color: $accent-color;
    font-size: 46px;
    font-weight: 300;

    sup {
      font-size: 20px;
      top: -20px;
    }

    span {
      color: #bababa;
      font-size: 20px;
    }
  }

  ul {
    color: #999;
    line-height: 20px;
    list-style: none;
    padding: 0;
    text-align: left;

    li {
      padding-bottom: 12px;
    }

    i {
      color: $accent-color;
      font-size: 18px;
      padding-right: 4px;
    }
  }

  .get-started-btn {
    background-color: #515e61;
    border-radius: 20px;
    color: white;
    display: inline-block;
    font-family: $accent-font;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 30px;
    transition: none;
  }

  .featured {
    border: 2px solid $accent-color;

    .get-started-btn {
      background-image: linear-gradient(45deg, #1de099, #1dc8cd);
    }
  }
}

/* Frequently Asked Questions Section
--------------------------------*/
#faq  {
  overflow: hidden;
  padding: 60px 0;

  #faq-list {
    list-style: none;
    padding: 0;

    li {
      border-bottom: 1px solid #ddd;
    }

    a {
      display: block;
      font-family: $accent-font;
      font-weight: 300;
      line-height: 1;
      padding: 18px 20px 18px 0;
      position: relative;

      &.collapse {
        color: $accent-color;
      }

      &.collapsed {
        color: black;

        i::before {
          content: "\f2c7" !important;
        }
      }

      @media (min-width: 769px) {
        font-size: 22px;
      }

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }

    i {
      font-size: 24px;
      position: absolute;
      right: 0;

      @media (min-width: 769px) {
        top: 16px;
      }

      @media (max-width: 768px) {
        top: 13px;
      }
    }

    p {
      margin-bottom: 20px;
    }
  }
}

/* Our Team Section
--------------------------------*/
#team {
  overflow: hidden;
  padding: 60px 0;

  .member {
    margin-bottom: 20px;
    text-align: center;

    .pic {
      height: 260px;
      margin-bottom: 15px;
      overflow: hidden;

      img {
        max-width: 100%;
      }
    }

    h4 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 2px;
    }

    span {
      display: block;
      font-size: 13px;
      font-style: italic;
    }

    .social {
      margin-top: 15px;

      a {
        &:not(:hover) {
          color: lighten($text-color, 30%);
        }

        &:hover {
          color: $accent-color;
        }
      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }
  }
}

/* Gallery Section
--------------------------------*/
#gallery {
  background-color: white;
  overflow: hidden;
  padding: 60px 0 0 0;

  .container-fluid {
    padding: 0;
  }

  .gallery-overlay {
    width: 100%; height: 100%;
    top: 0; right: 0;
    bottom: 0; left: 0;

    opacity: 1;
    position: absolute;
    transition: all ease-in-out 0.4s;
  }

  .gallery-item {
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;

    &:hover {
      .gallery-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 1;
      }

      img {
        transform: scale(1.1);
      }
    }

    img {
      transition: all ease-in-out 0.4s;
      width: 100%;
    }
  }
}

/* Contact Section
--------------------------------*/
#contact {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 60px 0;

  .contact-about {
    h3 {
      margin: 0 0 10px 0; padding: 0;

      color:  $accent-color;
      font-family: $accent-font;
      font-size: 36px;
      font-weight: 300;
      letter-spacing: 3px;
      line-height: 1;
      text-transform: uppercase;
    }

    p {
      color: #888;
      font-family: $accent-font;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .social-links {
    padding-bottom: 20px;

    a {
      width: 36px; height: 36px;
      margin-right: 4px; padding: 8px 0;

      border: 1px solid $accent-color;
      border-radius: 50%;
      display: inline-block;
      font-size: 18px;
      line-height: 1;
      text-align: center;
      transition: 0.3s;

      &:not(:hover) {
        background-color: white;
        color: $accent-color;
      }

      &:hover {
        background-color: $accent-color;
        color: white;
      }
    }
  }

  .info {
    color: $heading-color;

    i {
      color: $accent-color;
      float: left;
      font-size: 32px;
      line-height: 1;
    }

    p {
      font-size: 14px;
      line-height: 28px;
      padding: 0 0 10px 42px;
    }
  }

  .form {
    #sendmessage {
      margin-bottom: 15px; padding: 15px;

      border: 1px solid $accent-color;
      color: $accent-color;
      display: none;
      font-weight: 600;
      text-align: center;
    }

    #errormessage {
      margin-bottom: 15px; padding: 15px;

      border: 1px solid red;
      color: red;
      display: none;
      font-weight: 600;
      text-align: center;
    }

    #sendmessage.show,
    #errormessage.show,
    .show {
      display: block;
    }

    .validation {
      color: red;
      display: none;
      font-size: 13px;
      font-weight: 400;
      margin: 0 0 20px;
    }

    input, textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
    }

    button[type="submit"] {
      background-image: linear-gradient(45deg, #1de099, #1dc8cd);
      border: 0;
      border-radius: 20px;
      color: white;
      padding: 8px 30px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
